.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./Assets/Hero-bg.png");
}

.header {
  max-width: 1240px;
  margin: auto;
  margin-bottom: 110px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.logo {
  font-size: 34px;
  color: #4e47ff;
  font-size: bold;
}

.button {
  width: 120px;
  height: 48px;
  background-color: #4e47ff;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.header-title {
  text-align: center;
  margin-top: 120px;
  color: #252432;
  font-weight: bold;
  font-size: 26px;
}

.main {
  background-color: #f5f8ff;
}

.see-action {
  max-width: 1240px;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-action-title {
  color: #252432;
  font-size: 42px;
  font-weight: bold;
}

.see-action-description {
  color: #25243290;
  font-size: 24px;
}

.see-action-button {
  width: 200px;
  height: 40px;
  background-color: #4e47ff;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.see-action-image {
  border-radius: 50px;
}

.statistics {
  max-width: 1240px;
  margin: auto;
  background-color: #4e47ff30;
  text-align: center;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.statistics > h2 {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 12px;
}

.statistics-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  flex-wrap: wrap;
}

.statistics-status > div > h1 {
  color: #4e47ff;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.statistics-status > div > p {
  font-size: 20px;
  color: #00000060;
  margin: 0;
}

.review {
  max-width: 1240px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.review-title {
  color: #252432;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.review-container {
  display: flex;
  gap: 20px;
}

.review-card {
  background-color: #ffffff;
  border: 2px solid #f2eded;
  padding: 30px;
  border-radius: 20px;
}

.review-card > h3 {
  font-size: 24px;
  font-weight: bold;
  color: #1e1e1e;
}

.review-card > p {
  color: #1e1e1e;
  font-size: 16px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1px;
}

.reviewer-photo {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.reviewer > div > h4 {
  margin-bottom: 0px;
  color: #757575;
}

.reviewer > div > p {
  margin-top: 4px;
  color: #757575;
  font-family: 'Times New Roman', Times, serif;
}

.focus {
  max-width: 1240px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 15px;
}

.focus-banner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.focus-banner > img {
  border-radius: 40px;
}

.focus-title {
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 16px;
}

.focus-description {
  color: #00000090;
  font-size: 14px;
  font-weight: 500;
}

.focus-button {
  width: 160px;
  height: 36px;
  background-color: #4e47ff;
  color: #ffffff;
  font-weight: 300;
  border: none;
  border-radius: 10px;
  font-size: 12px;
}

.contact {
  max-width: 1240px;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 50px;
}

.contact-title {
  color: #000000;
  font-weight: bold;
  font-size: 50px;
  flex: 1;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 20px;
}

input,
textarea {
  border: 2px solid #d6dded;
  border-radius: 5px;
}

textarea {
  padding: 15px;
}

label {
  color: #000000;
  font-weight: 600;
}

.submit-button {
  background-color: #4e47ff;
  width: 100%;
  border: none;
  padding: 12px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
}

.footer {
    background-color: #FFFFFF;
    padding: 70px 300px;
    text-align: center;
}

.footer > h1 {
    color: #4E47FF;
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 1px;
    margin-top: 10px;
}

.footer > p {
    color: #8987A1;
    font-size: 14px;
    margin-top: 1px;
}

.footer > div > a {
    margin-right: 30px;
    text-decoration: none;
    color: #8987A1;
    font-size: 14px;
}

button:hover{
    background-color: #3b3b3b;
}
